venv
.vscode
__pycache__/
/resources/images/flags*/
/resources/pokemon/
/resources/pokemon_all/png/
/resources/flags/
/resources/pokemon_names_bak.txt
/resources/countries.txt
/resources/flag_links.txt
/resources/flag_colours.txt
/resources/flag_pokemons
/resources/images/.DS_Store
